[submodule "NeoEngine/platform/assets/assimp/assimp"]
	path = NeoEngine/platform/assets/assimp/assimp-external
	url = https://github.com/assimp/assimp.git
[submodule "NeoEngine/platform/graphics/bgfx/bgfx-cmake"]
	path = NeoEngine/platform/graphics/bgfx/bgfx-cmake-external
	url = https://github.com/Sponk/bgfx.cmake.git
[submodule "NeoEngine/platform/assets/png/libpng"]
	path = NeoEngine/platform/assets/png/libpng-external
	url = https://github.com/glennrp/libpng.git
[submodule "NeoHTML/litehtml-external"]
	path = NeoHTML/litehtml-external
	url = https://github.com/litehtml/litehtml.git
[submodule "NeoEngine/platform/assets/zipvfs/libzip-external"]
	path = NeoEngine/platform/assets/zipvfs/libzip-external
	url = https://github.com/nih-at/libzip.git
[submodule "NeoEngine/platform/assets/sound/openal-soft-external"]
	path = NeoEngine/platform/assets/sound/openal-soft-external
	url = https://github.com/kcat/openal-soft.git
[submodule "NeoEngine/platform/sdl2/sdl2-external"]
	path = NeoEngine/platform/sdl2/sdl2-external
	url = https://github.com/spurious/SDL-mirror
[submodule "NeoEngine/platform/graphics/bgfx/freetype2-external"]
	path = NeoEngine/platform/graphics/bgfx/freetype2-external
	url = https://git.savannah.gnu.org/git/freetype/freetype2.git
[submodule "NeoEngine/platform/3rdparty/zlib-external"]
	path = NeoEngine/platform/3rdparty/zlib-external
	url = https://github.com/madler/zlib.git
[submodule "NeoAI/recast-external"]
	path = NeoAI/recast-external
	url = https://github.com/recastnavigation/recastnavigation.git
[submodule "NeoEngine/platform/graphics/opengl/nanovg-external"]
	path = NeoEngine/platform/graphics/opengl/nanovg-external
	url = https://github.com/memononen/nanovg.git
[submodule "NeoEngine/platform/3rdparty/freetype2-external"]
	path = NeoEngine/platform/3rdparty/freetype2-external
	url = https://git.savannah.gnu.org/git/freetype/freetype2.git
[submodule "NeoVR/openvr-external"]
	path = NeoVR/openvr-external
	url = https://github.com/ValveSoftware/openvr.git
