[submodule "NeoEngine/platform/assets/assimp/assimp"]
	path = NeoEngine/platform/assets/assimp/assimp-external
	url = https://github.com/assimp/assimp.git
[submodule "NeoEngine/platform/graphics/bgfx/bgfx-cmake"]
	path = NeoEngine/platform/graphics/bgfx/bgfx-cmake-external
	url = https://github.com/JoshuaBrookover/bgfx.cmake.git
[submodule "NeoEngine/platform/assets/png/libpng"]
	path = NeoEngine/platform/assets/png/libpng-external
	url = https://github.com/glennrp/libpng.git
